body {
  background-color: black;
  background-image: radial-gradient(
  rgba(0, 150, 0, 0.35), black 120%
);
  height: 100vh;
  color: white;
  font: 1.3rem Inconsolata, monospace;
}


a:link {
  text-decoration: none;
  color: white;
}

a:visited {
  text-decoration: none;
  color: white;
}

a:hover {
  text-decoration: underline;
}

a:active {
  text-decoration: underline;
}
