#game{
  display:none;
}
body{
  background-image: linear-gradient(150deg, #95a5a6 30%, #34495e 30%, #34495e 50%, #95a5a6 50%, #95a5a6 80%, #34495e 80%, #34495e 100%);
  background-size: 100.00px 57.74px;}
  h1 {
  color: #EA41E6;
  font-size: 30px;
  font-family: "Michroma";
  text-shadow: 3px 3px 5px #000000;

}

#setup {
  display: flex;
}


.rows {
  display: flex;
  flex-wrap: wrap;
}

.player {
  display: flex;
  flex: 30%;
  padding: 20px;
  justify-content: space-evenly;
}

.player1 {
  -webkit-transform: rotate(-180deg);
  -moz-transform: rotate(-180deg);
  -o-transform: rotate(-180deg);
  transform: rotate(-180deg);
}

.middle {
  display: flex;
  flex: 40%;
  padding: 20px;
  justify-content: space-between;
}

button {
  font-family: 'Michroma';
  background-color: #76FBFC;
  border: none;
  color: black;
  padding: 15px 32px;
  border-radius: 8px;
  text-align: center;
  display: inline-block;
  font-size: 10px;
  box-shadow: 0 9px #037d7d;
}

button:active {
  box-shadow: 0 5px #037d7d;
  transform: translateY(3px);
}

button:focus {
  outline: 0;
}

button:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

@media only screen and (min-width: 768px) {

  /* desktop: */
  .rows {
    flex-direction: row;
    flex-wrap: nowrap;
  }

  .player {
    height: 500px;
    display: flex;
    flex-direction: column;
  }

  .player.player1 {
    -webkit-transform: rotate(0);
    -moz-transform: rotate(0);
    -o-transform: rotate(0);
    transform: rotate(0);
  }

  .middle {
    font-size: 30px;
    font-family: 'Michroma';
    color: #F7547A;
    text-shadow: 2px 2px #000000;
    align-items: center;
    justify-content: center;
  }

  .middle .player1 {
    display: none;
  }

  h1.player1 {
    display: none;
  }
}
